* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-book {
  border: 2px solid black;
  margin: 1rem;
}

.books::after {
  content: '';
  border-bottom: 2px solid #000;
  margin: 1rem auto;
  width: 15%;
  display: block;
}

input {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.book-item:nth-child(odd) {
  background-color: #eee;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add {
  display: flex;
  justify-content: right;
}

a.active {
  color: blue;
}

section:not(.active) {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  margin: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li:not(:last-child) {
  border-right: 2px solid black;
}

.time {
  text-align: right;
  margin: 1rem;
}

#copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-paragraph {
  border: 4px solid black;
  padding: 1.5rem;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 5rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

.contact__title {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.contact-data {
  margin: 2rem 0;
}

.contact-list {
  margin: 1rem 2rem;
}

footer div {
  margin: 1rem;
  border: 2px solid black;
}
